/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
    margin: 0px;
    height: 100vh;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
label {
    font-weight: bold
}
.displayBlock {
    display: block
}
.displayInline {
    display: inline
}

body .ui-menu {
    padding: 0;
    background-color: #f4f4f4 !important;
    border: none !important;
    height: 100vh;
}

body .ui-menu .ui-submenu-header {
    font-weight: 600 !important;
}
