/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
    margin: 0px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
label {
    font-weight: bold
}
.displayBlock {
    display: block
}
.displayInline {
    display: inline
}
